# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Pacman.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\workspace\Unity\Pacman\.idea\.idea.Pacman\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
